.login-container {
  .header-login {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 8px 24px;

    button {
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: transparent;
      margin-left: 10px;
    }
  }

  .title-login {
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
  }

  .welcome-login {
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

  .content-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      margin: 10px 0 15px;
    }

    .btn-submit {
      width: 100%;
      border: none;
      height: 45px;
      border-radius: 5px;
      background-color: #262627;
      color: white;
      margin-top: 10px;
      &:disabled {
        background: #dddddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }

    .goback {
      margin-top: 10px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.pass-group {
  position: relative;

  .icons-eye {
    cursor: pointer;
    position: absolute;
    top: 47%;
    right: 0;
    transform: translateX(-50%);
  }
}

.loaderIcon {
  animation: spin 1s infinite linear;
  margin-right: 10px;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}
